In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/raw/score.csv")

df = df.fillna(0)

In [6]:
df.head()

         x1         x2        x3        x4          x5           x6         x7
0  1.503407  15.165184    Monday  0.848177  112.883872   New Mexico     toyota
1  5.048486  19.878850       Wed  1.384698  103.706167      Vermont  chevrolet
2  2.037899  18.794880       Wed -0.106670   90.213082            0   mercedes
3  4.769615  19.962946   Tuesday -0.225299   92.423319            0       ford
4  6.946046  20.617530  Thursday -0.156121    0.000000  Mississippi          0

In [7]:
df_json = df.to_dict('records')

In [8]:
type(df_json)

list

In [9]:
import requests

response = requests.post(
        "http://127.0.0.1:8000/predict",
        json=df_json
    )

response.json()

['0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '1',
 '0',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '0',
 '0',
 '1',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '1',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '1',
 '0']